@import "../node_modules/react-skeleton-css/styles/skeleton.2.0.4.css";
@import "../node_modules/react-skeleton-css/styles/normalize.3.0.2.css";

body {
  margin: 0;
  margin-left: 3%;
  margin-right: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-image: url(../src/style/img/home.jpg);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: white;
  text-decoration: none;
  font-size: 1em;
}



.menu{
  list-style-type: none;
  display: flex;
  margin-top: 2%;
  text-decoration: none;
  color: black;
}


ul{
  margin-left: 2%;
  list-style-type: none;
}

li{
  margin-right: 2%;
}
