@import "../../../node_modules/react-skeleton-css/styles/skeleton.2.0.4.css";
@import "../../../node_modules/react-skeleton-css/styles/normalize.3.0.2.css";

h1{
    color: white;
}

container{
    width: auto;
}


.products{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

